#!/bin/sh
set -e

case "$1" in
    remove|deconfigure)
        # Stop the service before removal
        systemctl stop {{ package.name }}.service || true
        systemctl disable {{ package.name }}.service || true
        ;;
esac

#DEBHELPER#

exit 0
