#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	# Nothing to build - container app

override_dh_auto_install:
	# Install application files to /var/lib/container-apps/
	install -D -m 644 docker-compose.yml \
		debian/{{ package.name }}/{{ paths.lib }}/docker-compose.yml
	install -D -m 644 metadata.yaml \
		debian/{{ package.name }}/{{ paths.lib }}/metadata.yaml
	install -D -m 644 config.yml \
		debian/{{ package.name }}/{{ paths.lib }}/config.yml
	install -D -m 644 env.template \
		debian/{{ package.name }}/{{ paths.lib }}/env.template
	install -D -m 644 env.user-template \
		debian/{{ package.name }}/{{ paths.lib }}/env.user-template
	install -D -m 755 prestart.sh \
		debian/{{ package.name }}/{{ paths.lib }}/prestart.sh

{% if has_icon %}
	# Install icon
	install -D -m 644 icon.{{ icon_extension }} \
		debian/{{ package.name }}/{{ paths.pixmaps }}/{{ package.name }}.{{ icon_extension }}
{% endif %}

{% if has_assets %}
	# Install assets (755 for executables, 644 for regular files)
{% for asset in asset_files %}
	install -D -m {{ '755' if asset.executable else '644' }} assets/{{ asset.path }} \
		debian/{{ package.name }}/{{ paths.lib }}/{{ asset.path }}
{% endfor %}
{% endif %}

{% if has_web_ui %}
	# Install app registry file for homarr-container-adapter
	install -D -m 644 webapp-registry.toml \
		debian/{{ package.name }}/etc/halos/webapps.d/{{ package.name }}.toml
{% endif %}

{% if is_oidc_app %}
	# Install OIDC client snippet for Authelia
	install -D -m 644 oidc-client.yml \
		debian/{{ package.name }}/etc/halos/oidc-clients.d/{{ package.app_id }}.yml
{% endif %}

{% if has_custom_forward_auth %}
	# Install per-app ForwardAuth middleware for Traefik
	install -D -m 644 traefik-middleware.yml \
		debian/{{ package.name }}/var/lib/container-apps/traefik-container/dynamic/{{ package.app_id }}.yml
{% endif %}

{% if has_routing %}
	# Install generic routing declaration for reverse proxy
	install -D -m 644 routing.yml \
		debian/{{ package.name }}/etc/halos/routing.d/{{ package.app_id }}.yml
{% endif %}

	# Install systemd service file
	install -D -m 644 debian/{{ package.name }}.service \
		debian/{{ package.name }}/{{ paths.systemd }}/{{ package.name }}.service

	# Install AppStream metadata
	install -D -m 644 debian/{{ package.name }}.metainfo.xml \
		debian/{{ package.name }}/{{ paths.metainfo }}/{{ package.name }}.metainfo.xml

override_dh_auto_test:
	# Skip tests - validated by generate-container-packages
