name: PR Checks

on:
  pull_request:
    branches:
      - main

jobs:
  test:
    name: Run Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up dependencies
        run: |
          sudo apt-get update -qq
          sudo apt-get install -y -qq python3-venv python3-dev >/dev/null 2>&1

      - name: Set up uv
        uses: astral-sh/setup-uv@v2

      - uses: ./.github/actions/run-tests
