[Unit]
Description={{ service.description }}
After=docker.service
Requires=docker.service

[Service]
Type=simple
WorkingDirectory={{ service.working_directory }}
EnvironmentFile=-{{ service.env_defaults_file }}
EnvironmentFile=-{{ service.env_file }}
ExecStartPre=/bin/mkdir -p ${CONTAINER_DATA_ROOT}
ExecStart=docker compose up
ExecStop=docker compose down
Restart=on-failure
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
